.debitCard{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    border-radius: 10px;
    background-color: #236645;
}
::placeholder {
    color: rgb(44, 44, 44);
    opacity: 1; /* Firefox */
  }
.debitCard div{
    padding-left: 35px;
    padding-bottom: 5px;
}
.debitCard input:focus-visible{
    border: none;
}
.smallerCardInputs{
    display: flex;

}
.smallerCardInputs input{
    max-width: 50%;
}
.debitCardInput{
    background: transparent;
    border: none;
    font-size: 18px;
}
.checkoutNavButtons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.checkoutNavButtons a{
   width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkoutNavButtons button{
    width: 85%;
     
 }