.input__wrapper{
}

.input__container--variant {
    background: linear-gradient(to bottom, #081811, #081811);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 80vw;
    padding: 1em 2em;
  }
  
  .shadow__input--variant {
    filter: blur(25px);
    border-radius: 30px;
    background-color: #F3FFF9;
    opacity: 0.5;
  }
  
  .input__button__shadow--variant {
    border-radius: 15px;
    width: 69px;
    height: 40px;
    background-color: #0f7157;
    padding: 10px;
    border: none;
    margin-right: 7px;
  }
  
  .input__button__shadow--variant:hover {
    background-color: transparent;
  }
  .input__button__shadow--variant svg {
    width: 50px;
    height: 20px;
  }
  
  .input__search--variant {
    width: 60vw;
    height: 40px;
    align-items: center;
    border-radius: 24px;
    outline: none;
    border: none;
    padding: 0.8em;
    font-size: 1.2em;
    color: white;
    background-color: transparent;
  }
  
  .input__search--variant::placeholder {
    color: #002019;
    opacity: 0.7;
  }
  
  .input__container--variant {
    background: linear-gradient(to bottom, #081811, #081811);
    border-radius: 1.5em;
    /* box-shadow: 0em 0.5em 0.5em #236645; */
  }